In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("dataset/originais/dataset_sudeste_simples_realista_outliers-2k.csv")

In [4]:
df.head()

   id  idade    renda          cidade categoria  nota feedback
0   1   39.0  5112.57  Belo Horizonte         A   4.5      Bom
1   2   64.0  9510.34  Belo Horizonte         B   5.4     Ruim
2   3   61.0  8970.80       São Paulo         B   5.0     Ruim
3   4   61.0  8526.52  Rio de Janeiro         A   1.8      Bom
4   5   53.0  3531.76         Vitória         B   5.5      Bom

In [5]:
print(df.tail(10))

        id  idade     renda          cidade categoria  nota feedback
1990  1991   42.0  11619.13       São Paulo         B   8.2     Ruim
1991  1992   36.0  12318.31  Belo Horizonte         B   5.6  Regular
1992  1993   59.0   6357.74  Belo Horizonte         B   8.0      Bom
1993  1994   33.0   5594.33       São Paulo         B   4.4      Bom
1994  1995   52.0   8335.10  Belo Horizonte         B   9.5      Bom
1995  1996   66.0   7223.47  Belo Horizonte         B   3.8     Ruim
1996  1997   52.0  11712.34  Rio de Janeiro         A   8.4  Regular
1997  1998   48.0   7679.22         Vitória         A   0.1  Regular
1998  1999   27.0   3062.80         Vitória         B   2.1      Bom
1999  2000   21.0  12849.76       São Paulo         B   6.3  Regular

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2000 non-null   int64
 1   idade      1982 non-null   float64
 2   renda      1983 non-null   float64
 3   cidade     1988 non-null   object
 4   categoria  1979 non-null   object
 5   nota       1970 non-null   float64
 6   feedback   1975 non-null   object
dtypes: float64(3), int64(1), object(3)
memory usage: 109.5+ KB

In [7]:
df.describe()

                id        idade         renda         nota
count  2000.000000  1982.000000   1983.000000  1970.000000
mean   1000.500000    43.570131   7204.110968     4.965228
std     577.494589    16.166064   3573.795505     2.940147
min       1.000000     1.000000    422.990000    -3.700000
25%     500.750000    30.000000   4189.235000     2.500000
50%    1000.500000    44.000000   7079.250000     5.000000
75%    1500.250000    57.000000  10111.805000     7.300000
max    2000.000000   118.000000  33739.810000    14.600000

In [8]:
print(df.isnull().sum())

id            0
idade        18
renda        17
cidade       12
categoria    21
nota         30
feedback     25
dtype: int64